/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.13;
}

ol, ul {
  /*list-style: none;*/
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

body {
  background: url('../images/header-bg-tile.png') repeat-x scroll 0 0 #fbf7f1;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}

a, a:link, a:active {
  text-decoration: none;
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1.2em 0;
}

header {
  margin: 0 auto;
  width: 1065px;
  padding: 0 18px;
  background: url('../images/header-shadow.png') no-repeat scroll 0 0 transparent;
  height: 230px;
}

.hidden {
  display: none;
}

.header-inner {
  height: 230px;
  padding: 0 30px;
  position: relative;
}

.top-line {
  font-size: 11px;
  height: 38px;
}

.top-line .time {
  width: 160px;
  line-height: 38px;
  text-transform: uppercase;
  float: left;
}

.top-line .social,
.top-line .social li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-line .social {
  float: right;
  padding-top: 11px;
}
.top-line .social li {
  display: block;
  float: left;
  margin-right: 10px;
  text-transform: uppercase;
}

.social li.vk a,
.social li.twitter a,
.social li.gplus a,
.social li.fb a,
.social li.youtube a {
  display: block;
  text-indent: -9999px;
  background: url('../images/social.png') no-repeat scroll 0 0;
  height: 18px;
  width: 19px;
}

.social li.vk a:hover,
.social li.twitter a:hover,
.social li.gplus a:hover,
.social li.fb a:hover,
.social li.youtube a:hover {
  opacity: 0.75;
}

.social li.twitter a { background-position: -20px 0; }
.social li.gplus a { background-position: -39px 0; }
.social li.fb a { background-position: -58px 0; }
.social li.youtube a { background-position: -77px 0; }

.social li.rss {
  line-height: 17px;
  height: 17px;
  margin-right: 0;
  margin-left: 8px;
}
.social li.pdf {
  line-height: 17px;
  height: 17px;
  margin-right: 0;
  padding-right: 7px;
  border-right: 1px solid #c0c0c0;
}

h1.logo {
  margin-top: 13px;
  margin-left: -3px;
}

header .header-news {
  position: absolute;
  top: 49px;
  left: 275px;
  width: 760px;
}

header .header-news .header-news-element {
  float: left;
  width: 228px;
  margin-right: 15px;
  height: 54px;
  border-right: 1px dotted #c0c0c0;
  padding: 3px 15px 3px 0px;
}
header .header-news .header-news-element:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0;
}

header .header-news .header-news-element .image {
  float: left;
}

header .header-news .header-news-element .title {
  margin-left: 66px;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
}

header .header-news .header-news-element .article-count {
  margin: 7px 0 0 66px;
  color: #999999;
  font-weight: bold;
  font-size: 12px;
}

#menu-secondary {
  position: absolute;
  list-style: none;
  top: 134px;
  right: 32px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: #1a93bb;
  line-height: 17px;
}

#menu-secondary li {
  float: left;
  padding: 0 8px 0 14px;
  background: url('../images/sprite.png') no-repeat scroll -3px -28px transparent;
}

#menu-secondary li:first-child {
  background: none;
}

#menu-secondary li a {
  color: #1a93bb;
}

#menu-secondary li.search {
  background: none;
  padding-left: 10px;
}
#menu-secondary li.search.transition a,
#menu-secondary li.search.transition form#search-form input  {
  -webkit-transition: padding-left 0.4s ease-out, padding-right 0.4s ease-out, width 0.4s ease-out, border 0.4s ease-out, background-position 0.4s ease-out;
  -moz-transition: padding-left 0.4s ease-out, padding-right 0.4s ease-out, width 0.4s ease-out, border 0.4s ease-out, background-position 0.4s ease-out;
  -o-transition: padding-left 0.4s ease-out, padding-right 0.4s ease-out, width 0.4s ease-out, border 0.4s ease-out, background-position 0.4s ease-out;
  transition: padding-left 0.4s ease-out, padding-right 0.4s ease-out, width 0.4s ease-out, border 0.4s ease-out, background-position 0.4s ease-out;
}
#menu-secondary li.search a {
  display: block;
  text-indent: -9999px;
  background: url('../images/search.png') no-repeat scroll 0 0;
  width: 0;
  height: 0;
  vertical-align: top;
}

#menu-secondary li.search.collapsed a {
  display: inline-block;
  width: 18px;
  height: 17px;
}

form#search-form {
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
  margin-top: -5px;
}

form#search-form input {
  height: 14px;
  font-size: 12px;
  color: #777;
  border: 1px solid #e2ded9;
  padding: 7px 12px 5px 28px;
  outline: none;
  background: url('../images/search.png') no-repeat scroll 6px 4px white;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow:    inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  -o-box-shadow:    inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  box-shadow:         inset 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  -moz-border-radius: 13px; /* Firefox */
  -webkit-border-radius: 13px; /* Safari, Google Chrome */
  -khtml-border-radius: 13px; /* KHTML */
  -o-border-radius: 13px; /* Opera */
  -ms-border-radius: 13px; /* IE8 */
  -icab-border-radius: 13px; /* Icab */
  border-radius: 13px; /* CSS3 */
  width: 146px;
}

#menu-secondary li.search.collapsed form#search-form input {
  padding-left: 0;
  padding-right: 0;
  width: 0;
  border: 0;
  background-position: -27px 4px;
}


#header-icons {
  position: absolute;
  top: 127px;
  left: 30px;
  line-height: 33px;
}

#header-icons .emo-link {
  display: block;
  float: left;
  width: 49px;
  height: 29px;
  border-right: 1px solid #d3d0cb;
}

#header-icons .emo-link a {
  text-indent: -9999px;
  display: block;
  width: 39px;
  height: 29px;
  background: url('../images/sprite-header.png') no-repeat scroll 1px -2px;
}

#header-icons .emo-link a:hover,
#header-icons .emo-link a.active {
  background-position: 1px -121px;
}
#header-icons .emo-link a.active:hover {
  background-position: 1px -2px;
}

#header-icons .weather {
  padding: 0 11px 0 12px;
  display: block;
  float: left;
  border-right: 1px solid #d3d0cb;
  font-size: 21px;
  height: 29px;
}

#header-icons .weather a {
  text-indent: -9999px;
  display: block;
  float: left;
  width: 31px;
  height: 29px;
  background: url('../images/sprite-header.png') no-repeat scroll -2px -41px;
  margin-right: 7px;
}

#header-icons .traffic {
  display: block;
  float: left;
  padding: 0 14px 0 11px;
}

#header-icons .traffic a {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 17px;
  border: 2px solid #599821;
  color: #599821;
  font-weight: bold;
  text-align: center;
  -moz-border-radius: 13px; /* Firefox */
  -webkit-border-radius: 13px; /* Safari, Google Chrome */
  -khtml-border-radius: 13px; /* KHTML */
  -o-border-radius: 13px; /* Opera */
  -ms-border-radius: 13px; /* IE8 */
  -icab-border-radius: 13px; /* Icab */
  border-radius: 13px; /* CSS3 */
  margin-right: 3px;
}

#header-icons .traffic a:hover {
  text-decoration: none;
}
#header-icons .traffic a.yellow {
  border-color: #ffaa18;
  color: #ffaa18;
}
#header-icons .traffic a.red {
  border-color: #fe1918;
  color: #fe1918;
}

#header-icons .piggy {
  display: block;
  float: left;
  position: relative;
  left: -2px;
  top: 1px;
}

#header-icons .piggy a {
  text-indent: -9999px;
  display: block;
  width: 29px;
  height: 29px;
  background: url('../images/sprite-header.png') no-repeat scroll -3px -81px
}

nav {
  font-size: 14px;
}

nav#main-menu {
  position: absolute;
  top: 181px;
  left: 0;
  padding-left: 30px;
  width: 1005px;
}

nav#emo-tags {
  position: absolute;
  top: 171px;
  left: 0;
  padding: 16px 1px 16px 31px;
  width: 1003px;
  vertical-align: middle;
}

nav#emo-tags h3 {
  font-weight: bold;
  text-transform: uppercase;
  display: inline;
  margin-right: 9px;
}


nav#emo-tags a,
.emo-tags-block .block-content a {
  display: inline-block;
  color: #333333;
  height: 21px;
  line-height: 20px;
  padding: 0 10px;
  border: 1px solid #fe9191;
  -moz-border-radius: 12px; /* Firefox */
  -webkit-border-radius: 12px; /* Safari, Google Chrome */
  -khtml-border-radius: 12px; /* KHTML */
  -o-border-radius: 12px; /* Opera */
  -ms-border-radius: 12px; /* IE8 */
  -icab-border-radius: 12px; /* Icab */
  border-radius: 12px; /* CSS3 */
  background: #f5f1eb;
  margin-top: 1px;
}
.emo-tags-block .block-content a {
  margin: 0 0 9px 0;
}

nav#emo-tags a.active,
nav#emo-tags a:hover,
.emo-tags-block .block-content a.active,
.emo-tags-block .block-content a:hover {
  color: white;
  background-color: #fd3c3c;
  border-color: #fd3c3c;
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 35px;
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 0 16px 0 20px;
  background: url('../images/sprite.png') no-repeat scroll -3px 13px transparent;
}

nav ul li:first-child {
  background: none;
  padding-left: 16px;
}

nav ul li a:hover {
  text-decoration: none;
  color: #00b5f1;
}

.section-wrapper {
  width: 1065px;
  padding: 38px 18px 0;
  margin: 0 auto;
  background: url('../images/bg-body-tile.png') repeat-y scroll center top #fbf7f1;
}

#section-events.section-wrapper {
  width: inherit;
  margin: 0;
  padding: 0;
}

#section-events .section-wrapper2 {
  background: url('../images/section-shadow.png') repeat-x scroll center top transparent;;
}

#section-events .section-outer {
  margin: 0 auto;
  width: 1065px;
  padding: 19px 18px 0;
}

.section-inner {
  padding: 0 30px;
  display: table;
}

.section-main.sidebar-right {
  padding-right: 15px;
  display: table-cell;
  width: 750px;
  position: relative;
}
aside.sidebar-right {
  display: table-cell;
  width: 240px;
  vertical-align: top;
}

.section-name {
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
}

article.featured {
  background-color: #00bffe;
  color: #ffffff;
  padding-right: 25px;
  font-size: 12px;
  margin-bottom: 40px;
}

article.featured .article-image {
  float: left;
}
article.featured .article-image a,
article.featured .article-image img {
  display: block;
}

article.featured .article-meta {
  margin-left: 520px;
  padding-top: 23px;
}

article.featured .article-meta .published {
  float: right;
  color: white;
}

article.featured h3.title {
  margin: 15px 0 0 520px;
  font-size: 20px;
  color: white;
  line-height: 25px;
  font-weight: bold;
  padding-right: 3px;
}

article.featured h3.title a {
  color: white;
}

article.latest {
  float: left;
  margin: 0 15px 28px 0;
  width: 240px;
  background: #efebe6;
  font-size: 14px;
}
aside article.latest {
  float: none;
  margin: 0 0 20px 0;
  background: #eeeae5;
}
aside article.latest:hover {
  background: #eeeae5;
}

article.latest:hover {
  background: #ffffff;
}

article.latest:last-child {
  margin-right: 0;
}

article.latest .article-image a,
article.latest .article-image img {
  display: block;
}

article.latest .article-text {
  padding: 19px 20px 20px 20px;
}

article.latest .section-name {
  margin-bottom: 10px;
}

article.latest .title {
  font-size: 18px;
  color: #1a93bb;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 11px;
}
article.latest .title a {
  color: #1a93bb;
}
aside article.latest .title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}
article.latest .summary {
  line-height: 17px;
  margin-bottom: 14px;
}

.published {
  font-size: 12px;
  color: #999999;
}

.headlines .headline {
  float: left;
  margin: 0 15px 15px 0;
  width: 240px;
  padding-bottom: 12px;
  border-bottom: 1px dotted #c0c0c0;
}

.headlines .headline:last-child {
  margin-right: 0;
}

.headlines .headline-row:last-child .headline {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.headlines {
  margin-bottom: 20px;
}

.headline .article-image {
  float: left;
}
.headline .article-image a,
.headline .article-image img {
  display: block;
}

.headline .title {
  margin: -3px 0 0 66px;
  font-size: 13px;
  line-height: 15px;
}

.banner {
  margin: 0 auto;
}

.b720 {
  width: 720px;
  margin-bottom: 30px;
}

.b240 {
  width: 240px;
  margin-bottom: 19px;
}

.more-link {
  padding: 26px 25px 25px 25px;
  text-align: center;
  font-size: 16px;
  line-height: 58px;
}
.more-link a {
  padding: 15px 41px 12px 41px;
  color: #999999;
  border: 2px solid #999999;
  text-transform: uppercase;
  font-weight: bold;
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Google Chrome */
  -khtml-border-radius: 5px; /* KHTML */
  -o-border-radius: 5px; /* Opera */
  -ms-border-radius: 5px; /* IE8 */
  -icab-border-radius: 5px; /* Icab */
  border-radius: 5px; /* CSS3 */
}

.more-link a:hover {
  color: #1a93bb;
  border: 2px solid #1a93bb;
  text-decoration: none;
}

aside .more-link {
  padding: 26px 0;
}

#section-news aside .inner {
  border-top: 4px solid #d6d6c7;
  padding: 14px 0 25px 0;
}

.news-logo {
  display: block;
  margin: 0 auto 16px;
  width: 57px;
  height: 57px;
  background: url('../images/sprite.png') no-repeat scroll 0 -354px;
}

.events-logo {
  display: block;
  margin: 0 auto 16px;
  width: 58px;
  height: 58px;
  background: url('../images/sprite.png') no-repeat scroll 0 -232px;
}

.reports-logo {
  display: block;
  margin: 0 auto 16px;
  width: 58px;
  height: 58px;
  background: url('../images/sprite.png') no-repeat scroll 0 -908px;
}

.front-logo {
  display: block;
  margin: 0 auto 16px;
  width: 58px;
  height: 58px;
  background: url('../images/sprite.png') no-repeat scroll 0 -640px;
}

h2.section-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
}

.news-list {
  padding-left: 13px;
  padding-bottom: 3px;
}

.news-list-item {
  margin-bottom: 18px;
}
.news-list-item .published {
  margin-bottom: 7px;
}

.news-list-item .title {
  margin-bottom: 6px;
  line-height: 17px;
}

.taxonomy {
  font-size: 12px;
  color: #999999;
}

.taxonomy a {
  margin-right: 3px;
  display: inline-block;
  background-color: #efebe6;
  color: #999999;
  padding: 3px 8px 4px;
  -moz-border-radius: 8px; /* Firefox */
  -webkit-border-radius: 8px; /* Safari, Google Chrome */
  -khtml-border-radius: 8px; /* KHTML */
  -o-border-radius: 8px; /* Opera */
  -ms-border-radius: 8px; /* IE8 */
  -icab-border-radius: 8px; /* Icab */
  border-radius: 8px; /* CSS3 */
}

.taxonomy a:hover {
  color: white;
  background-color: #4aa0c1;
  text-decoration: none;
}

article.quoted {
  background: white;
  border-top: 3px solid #4aa0c1;
  font-size: 12px;
  line-height: 16px;
  margin: 12px 0 23px;
}

article.quoted .image {
  float: left;
}
article.quoted .image img,
article.quoted .image a {
  display: block;
}

article.quoted .name {
  margin: 10px 0 3px 100px;
  color: #999999;
}

article.quoted .text {
  margin: 0 0 0 100px;
}

footer {
  background: #333333;
  color: #999999;
  font-size: 12px;
}

footer a,
footer a:link,
footer a:active {
  color: #999999
}

footer a:hover,
nav.footer ul li a:hover {
  color: white;
  text-decoration: none;
}

nav.footer {
  margin: 0 auto;
  padding: 11px 0 90px;
  border: 1px solid #5c5c5c;
  font-size: 12px;
}

nav.footer ul li {
  padding: 0 9px 0 17px;
  background-position: -3px -56px;
}
nav.footer ul li:first-child {
  padding-left: 9px;
}

footer .footer-top {
  width: 1005px;
  margin: 0 auto;
  height: 144px;
  position: relative;
}

footer .footer-top .logo {
  position: absolute;
  left: 16px;
  top: 41px;
}

footer .footer-top .copyright {
  position: absolute;
  left: 255px;
  top: 46px;
  line-height: 18px;
  width: 750px;
}

#section-events h2.section-title {
  height: 57px;
  text-align: left;
  background: url('../images/sprite.png') no-repeat scroll 26px -293px;
  padding-left: 100px;
  line-height: 57px;
  margin-bottom: 20px;
}

.handbook-wrapper {
  font-size: 13px;
  color: #fbf7f1;
  background: #556835;
  padding: 14px 10px;
  height: 536px;
}
.handbook-wrapper .handbook-wrapper-inner {
  height: 536px;
}
.handbook-wrapper a {
  color: #fbf7f1;
}
.handbook-wrapper a:hover {
  font-weight: bold;
  text-decoration: none;
}

.handbook-wrapper ul {
  list-style: none;
  padding-left: 11px;
  line-height: 30px;
}

.handbook-wrapper ul ul {
  display: none;
}

.section-main h2.section-title {
  border-top: 4px solid #d6d6c7;
  text-align: left;
  padding-top: 25px;
  margin-bottom: 29px;
}

#section-events .section-main h2.section-title {
  border-top: 0;
  background-position: 0px -232px;
  font-size: 18px;
  padding-left: 79px;
  padding-top: 2px;
  height: 55px;
  padding-bottom: 0;
}

#section-events .section-main h2.section-title span,
.page-events-page h2.title span {
  color: #fe0000;
  padding: 0 11px 0 9px;
}

.page-events-page h2.title .actions {
  float: right;
}

.page-events-page h2.title .actions .add {
  display: block;
  background: url('../images/sprite.png') no-repeat scroll 8px -472px;
  padding-left: 27px;
  font-size: 12px;
  color: #1a93bb;
  line-height: 17px;
}

#section-events .section-main h2.section-title a {
  display: inline-block;
  width: 13px;
  height: 13px;
  text-indent: -9999px;
  background: url('../images/sprite.png') no-repeat scroll 0px -183px;
  vertical-align: middle;
  margin-bottom: 4px;
}

nav.events {
  background: white;
  margin-top: 0;
  padding: 10px 21px 10px 12px;
}

nav.events ul {
  float: left;
  text-align: left;
}

nav.events ul li {
  background-position: -3px -92px;
  padding: 0 8px 0 16px;
}
nav.events > ul li:first-child {
  padding: 0 8px 0 8px;
}

nav.events ul a {
  color: #999999;
}

nav.events ul a:hover,
nav.events ul a.active {
  color: #333333;
  text-decoration: underline;
}

.select-types {
  float: right;
  position: relative;
  z-index: 7;
  font-weight: normal;
}

.select-types > a {
  display: block;
  background: url('../images/sprite.png') no-repeat scroll 0 -181px;
  padding-left: 15px;
  margin-top: 11px;
  text-transform: none;
  font-weight: normal;
}
/* Alter for tag page */
.select-sort.select-types > a {
  margin-top: 0;
  display: inline-block;
}

.select-types > a span {
  border-bottom: 1px dotted #333;
}

.select-types > a.active {
  background-position: -15px -203px;
}

.select-types a:hover {
  text-decoration: none;
}

.select-types > div {
  display: none;
  position: absolute;
  background: white;
  padding: 44px 0 10px;
  z-index: -1;
  width: 250px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0 0 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow:         0 0 20px 0 rgba(0, 0, 0, 0.15);
  top: 0;
  right: -10px;
  height: 175px;
}
.select-sort.select-types > div {
  top: -10px;
}
.select-types > div ul,
.select-types > div ul li {
  text-transform: none;
  background: none;
  padding: 0;
  margin: 0;
  float: none;
  font-weight: normal;
}

.select-types > div ul li {
  padding: 0 25px 0 20px;
  color: #333333;
  display: block;
  font-size: 15px;
  line-height: 25px;

}
.select-types > div ul li.active,
.select-types > div ul li:hover {
  background: #00bffe;
  color: white;
}

.select-types > div .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.select-types > div .mCSB_scrollTools .mCSB_draggerRail {
  background: none;
}

.select-types > div .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.2);
  width: 9px;
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Google Chrome */
  border-radius: 0; /* CSS3 */
}

#section-events .actions {
  padding-top: 9px;
  font-size: 12px;
  margin-bottom: 16px;
}
#section-events .actions a {
  display: block;
  float: left;
  color: #1a93bb;
  background: url('../images/sprite.png') no-repeat scroll 7px -422px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid white;
  padding: 10px 11px 10px 34px;
  -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari, Google Chrome */
  -khtml-border-radius: 5px; /* KHTML */
  -o-border-radius: 5px; /* Opera */
  -ms-border-radius: 5px; /* IE8 */
  -icab-border-radius: 5px; /* Icab */
  border-radius: 5px; /* CSS3 */
}

#section-events .actions a.add {
  float: right;
  background-position: 8px -464px;
  padding-left: 27px;
}

.events-list {

}

.events-list article {
  float: left;
  width: 136px;
  margin: 0 9px;
}
.events-list article .date {
  font-size: 21px;
  margin-bottom: 11px;
  margin-top: 7px;
}
aside .events-list article {
  float: none;
  width: auto;
  margin: 20px 0 0 0 !important;
  background: #eeeae5;
  text-align: center;
}
aside .events-list article:hover {
  background: #eeeae5;
}

.events-list article:first-child {
  margin-left: 0;
  margin-right: 8px;
}
.events-list article:last-child {
  margin-left: 8px;
  margin-right: 0;
}

.events-list article:hover {
  background: #ffffff;
}
.events-list article .content {
  padding: 12px 10px 16px;
}

.events-list article .article-image {
  margin-bottom: 1px;
}
.events-list article .article-image img,
.events-list article .article-image a {
  display: block;
}

.events-list article .section-name {
  margin-bottom: 7px;
}

aside .events-list article .section-name {
  margin-bottom: 14px;
}

.events-list article .title {
  color: #1a93bb;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}
aside .events-list article .title {
  margin-bottom: 14px;
}

.events-list article .title a {
  color: #1a93bb;
}

.events-list article .venue {
  color: #999999;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 10px;
}
aside .events-list article .venue {
  font-size: 14px;
}

.events-list article .status {
  font-size: 12px;
}

.events-list article .status a {
  background: url('../images/sprite.png') no-repeat scroll -18px -164px;
  display: inline-block;
  padding: 0 3px 0 11px;
}

.events-list article .status a.active {
  background-position: -1px -147px;
  color: #fe4800;
}

.events-list article .status span {
  margin-left: 5px;
  font-weight: bold;
  font-size: 11px;
}

#section-events .more-link {
  padding: 34px 25px 31px 25px;
}

#section-news-row {
  position: relative;
  padding-top: 54px;
}
#section-news-row:before {
  display: block;
  position: absolute;
  width: 750px;
  height: 53px;
  content: ' ';
  background: url('../images/events-shadow.png');
  top: 0;
  left: 48px;
}

.section-content {
  display: table;
}
.section-main aside {
  display: table-cell;
  width: 215px;
  vertical-align: top;
}

.content-sidebar-left-wrapper {
  display: table-cell;
  width: 535px;
  vertical-align: top;
}

.content-sidebar-left-wrapper .content-sidebar-left:last-child {
  margin-bottom: 28px;
}

.content-sidebar-left {
  background: white;
  border-top: 4px solid #00befd;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0 0 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow:         0 0 20px 0 rgba(0, 0, 0, 0.15);
  position:relative;
  padding: 22px 25px 0;
  z-index: 5;
}

.content-sidebar-left.content-pager {
  border: none;
  z-index: 1;
  padding-bottom: 22px;
  margin-bottom: 40px;
}

.section-main aside .news-list {
  padding-left: 1px;
  padding-top: 0;
}

.section-main aside .news-list .news-list-item {
  padding: 8px 15px 7px 10px;
  margin-bottom: 0;
}

.section-main aside .news-list .news-list-item.active,
.section-main aside .news-list .news-list-item:hover {
  background-color: #00bffe;
  color: white;
}

.section-main aside .news-list .news-list-item.active .published,
.section-main aside .news-list .news-list-item:hover .published,
.section-main aside .news-list .news-list-item.active .title,
.section-main aside .news-list .news-list-item:hover .title,
.section-main aside .news-list .news-list-item.active .title a,
.section-main aside .news-list .news-list-item:hover .title a,
.section-main aside .news-list .news-list-item.active .title a:hover,
.section-main aside .news-list .news-list-item:hover .title a:hover {
  color: white;
  text-decoration: none;
}

.section-main aside .news-list .news-list-item.active .taxonomy a,
.section-main aside .news-list .news-list-item:hover .taxonomy a {
  border: 1px solid white;
  background: none;
  color: white;
  padding: 2px 7px 3px;
}

.section-main aside .news-list .news-list-item.active .taxonomy a:hover,
.section-main aside .news-list .news-list-item:hover .taxonomy a:hover {
  border: 1px solid white;
  background: white;
  color: #00bffe;
}

.change-font {
  position: absolute;
  right: 23px;
  top: 17px;
}
.change-font a {
  display: inline-block;
  border: 1px solid #eeeae6;
  height: 38px;
  width: 38px;
  text-align: center;
  line-height: 38px;
  -moz-border-radius: 21px; /* Firefox */
  -webkit-border-radius: 21px; /* Safari, Google Chrome */
  -khtml-border-radius: 21px; /* KHTML */
  -o-border-radius: 21px; /* Opera */
  -ms-border-radius: 21px; /* IE8 */
  -icab-border-radius: 21px; /* Icab */
  border-radius: 21px; /* CSS3 */
  vertical-align: top;
}
.change-font a:first-child {
  font-size: 14px;
}
.change-font a:last-child {
  font-size: 18px;
}
.change-font a:hover {
  text-decoration: none;
  border-color: #666;
}
article.full {
  margin-bottom: 28px;
}
article.full .article-meta {

}

article.full .article-meta > div {
  display: inline-block;
}

article.full .article-meta .section-name {
  margin-left: 9px;
  display: inline-block;
  background-color: #4aa0c1;
  color: #ffffff;
  padding: 7px 11px 6px;
  -moz-border-radius: 12px; /* Firefox */
  -webkit-border-radius: 12px; /* Safari, Google Chrome */
  -khtml-border-radius: 12px; /* KHTML */
  -o-border-radius: 12px; /* Opera */
  -ms-border-radius: 12px; /* IE8 */
  -icab-border-radius: 12px; /* Icab */
  border-radius: 12px; /* CSS3 */

}

article.full h2 {
  font-size: 31px;
  font-weight: bold;
  margin: 17px 0 12px;
}


article.full .taxonomy {
  font-size: 14px;
  color: #333;
  margin-bottom: 21px;
}

article.full .taxonomy a {
  margin-right: 0;
  display: inline-block;
  background-color: transparent;
  color: #333;
  padding: 2px 10px 4px;
  border: 1px solid #d6d6c7;
  -moz-border-radius: 13px; /* Firefox */
  -webkit-border-radius: 13px; /* Safari, Google Chrome */
  -khtml-border-radius: 13px; /* KHTML */
  -o-border-radius: 13px; /* Opera */
  -ms-border-radius: 13px; /* IE8 */
  -icab-border-radius: 13px; /* Icab */
  border-radius: 13px; /* CSS3 */
}

article.full .taxonomy a:hover {
  color: white;
  background-color: #d6d6c7;
  text-decoration: none;
}

article.full .article-image {
  margin-bottom: 25px;
}

article.full .text {
  font-size: 16px;
  padding-bottom: 21px;

}

article.full .text p {
  line-height: 20px;
  text-align: justify;
}

.like-block {
  border-top: 1px dotted #c0c0c0;
  padding: 17px 0 4px 0;
  border-bottom: 1px dotted #c0c0c0;
  margin-bottom: 24px;
}

.like-block h3 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
}

.like-block .moods {
  text-align: left;
  margin: 0 0 0 2px;
}
.like-block .moods > div {
  display: inline-block;
  margin: 0 8px 0 0;
  text-align: center;
}

.like-block .moods > div:last-child {
  margin-right: 0;
}


.like-block .moods a {
  display: block;
  color: #333333;
  height: 21px;
  line-height: 21px;
  padding: 0 13px;
  border: 1px solid #fe9191;
  -moz-border-radius: 12px; /* Firefox */
  -webkit-border-radius: 12px; /* Safari, Google Chrome */
  -khtml-border-radius: 12px; /* KHTML */
  -o-border-radius: 12px; /* Opera */
  -ms-border-radius: 12px; /* IE8 */
  -icab-border-radius: 12px; /* Icab */
  border-radius: 12px; /* CSS3 */

}

.like-block .moods a:hover {
  color: white;
  background-color: #fd3c3c;
  border-color: #fd3c3c;
  text-decoration: none;
}

.like-block .moods .like a {
  border: none;
  text-indent: -9999px;
  background: url('../images/sprite.png') no-repeat scroll 0 -520px;
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Google Chrome */
  -khtml-border-radius: 0; /* KHTML */
  -o-border-radius: 0; /* Opera */
  -ms-border-radius: 0; /* IE8 */
  -icab-border-radius: 0; /* Icab */
  border-radius: 0; /* CSS3 */
  width: 26px;
  height: 23px;
  padding: 0;

}

.like-block .moods .like a:hover {
  background-position: -54px -520px;
}

.like-block .moods > div div {
  padding: 10px 0;
}

.like-block .moods > div div.zero {
  color: #999;
}

.share-block {
  padding-bottom: 44px;
  border-bottom: 3px solid #d6d6c7;
}

.share-block .shares {
  position: relative;
  padding: 23px 17px;
  background: #f9f6f3;
  margin: 0;
}

.share-block h3 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
}

.share-block .shares a {
  display: inline-block;
  height: 24px;
  background: url('../images/icons-share.png') no-repeat scroll 0 0;
  color: white;
  line-height: 24px;
  padding: 0 6px 0 26px;
  -moz-border-radius: 3px; /* Firefox */
  -webkit-border-radius: 3px; /* Safari, Google Chrome */
  -khtml-border-radius: 3px; /* KHTML */
  -o-border-radius: 3px; /* Opera */
  -ms-border-radius: 3px; /* IE8 */
  -icab-border-radius: 3px; /* Icab */
  border-radius: 3px; /* CSS3 */
  margin-right: 5px;
}
.share-block .shares a:hover {
  text-decoration: none;
}

.share-block .shares a.fb {
  background-color: #3c5a98;
  background-position: 9px 0;
}

.share-block .shares a.vk {
  background-color: #48729e;
  background-position: 5px -33px;
}

.share-block .shares a.twitter {
  background-color: #00aced;
  background-position: 2px -65px;
}

.share-block .shares a.ok {
  background-color: #ff9f4d;
  background-position: 1px -98px;
  padding: 0;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

.share-block .shares a.discuss {
  display: block;
  background: none;
  position: absolute;
  right: 12px;
  top: 20px;
  border: 2px solid #efebe6;
  padding: 0 22px;
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  font-size: 12px;
  color: #1a93bb;
  text-transform: uppercase;
  margin: 0;
}

.share-block .shares a.discuss span {
  color: #999;
  font-weight: normal;
}

article.report.full .share-block {
  border: 0;
  padding-bottom: 20px;
}

.read-more {
  margin: 0 -5px;
}
.read-more h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 28px;
}

.read-more article:hover {
  background: #efebe6;
}

.content-pager .pager .all {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  margin-right: 13px;
}

.content-pager .pager a {
  display: inline-block;
  border: 1px solid #eeeae6;
  height: 38px;
  width: 38px;
  text-align: center;
  line-height: 38px;
  -moz-border-radius: 21px; /* Firefox */
  -webkit-border-radius: 21px; /* Safari, Google Chrome */
  -khtml-border-radius: 21px; /* KHTML */
  -o-border-radius: 21px; /* Opera */
  -ms-border-radius: 21px; /* IE8 */
  -icab-border-radius: 21px; /* Icab */
  border-radius: 21px; /* CSS3 */
  vertical-align: top;
  background: url('../images/pager.png') no-repeat scroll 0 0;
  text-indent: -9999px;
  margin-right: 3px;
}
.content-pager .pager a.prev {
  background-position: 6px 7px;
}
.content-pager .pager a.next {
  background-position: -40px 7px;
}
.content-pager .pager a:hover {
  text-decoration: none;
  border-color: #666;
}

.related-content {
  border-top: 3px solid #d6d6c7;
}

.related-content h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin: 28px 0;
}

.popular-content {
  border-top: 3px solid #d6d6c7;
  margin-bottom: 82px;
}

.popular-content > h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin: 14px 0 18px;
  height: 58px;
  line-height: 58px;
  padding-left: 73px;
  background: url('../images/sprite.png') no-repeat scroll 0 -578px;
}

#section-news-row .popular-content {
  border-top: 4px solid #d6d6c7;
}

.week-events-list {
  border-top: 3px solid #d6d6c7;
  padding-top: 14px;
}

.week-events-list h2 {
  margin-bottom: 20px;
}


.reports-list-block {
  border-top: 3px solid #d6d6c7;
  padding-top: 14px;
}

.reports-list-block h2 {
  margin-bottom: 20px;
}


.popular-tags {
  margin-top: 42px;
  padding: 18px 9px 32px;
  border-top: 3px solid #d6d6c7;
}

.popular-tags h3 {
  text-transform: uppercase;
  font-weight: bold;
}
.popular-tags .tags-content {
  margin-top: 15px;
}
.popular-tags .tags-content.taxonomy a {
  margin-bottom: 8px;
  color: #333;
}
.popular-tags .tags-content.taxonomy a:hover {
  color: white;
}

.front-news-list {
  border-top: 3px solid #d6d6c7;
  padding-top: 15px;
}
.front-news-list .section-title {
  margin-bottom:15px;
}

.calendar-wrapper {
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Safari, Google Chrome */
  -khtml-border-radius: 6px; /* KHTML */
  -o-border-radius: 6px; /* Opera */
  -ms-border-radius: 6px; /* IE8 */
  -icab-border-radius: 6px; /* Icab */
  border-radius: 6px; /* CSS3 */
  padding: 10px 11px;
}
#section-events .calendar-wrapper {
  display: none;
  position: absolute;
  left: 0;
  top: 178px;
  background: white;
}

aside .calendar-wrapper {
  -moz-border-radius: 8px; /* Firefox */
  -webkit-border-radius: 8px; /* Safari, Google Chrome */
  -khtml-border-radius: 8px; /* KHTML */
  -o-border-radius: 8px; /* Opera */
  -ms-border-radius: 8px; /* IE8 */
  -icab-border-radius: 8px; /* Icab */
  border-radius: 8px; /* CSS3 */
  padding: 10px 12px;
  overflow: hidden;
  border: 2px solid #eeeae5;
  margin: 2px 0 27px;
}

.calendar-wrapper .calendar {
  -moz-border-radius: 6px; /* Firefox */
  -webkit-border-radius: 6px; /* Safari, Google Chrome */
  -khtml-border-radius: 6px; /* KHTML */
  -o-border-radius: 6px; /* Opera */
  -ms-border-radius: 6px; /* IE8 */
  -icab-border-radius: 6px; /* Icab */
  border-radius: 6px; /* CSS3 */
  background: #fbf7f1;
  overflow: hidden;
}

/* JQUERY UI OVERRIDES */
.ui-datepicker.ui-widget-content {
  font-size: 14px;
  border: 0;
  background: none;
  position: relative;
  z-index: 10;
  width: 212px;
  padding: 0;
}
.ui-datepicker .ui-datepicker-header {
  background: #dfdad4;
  border: 0;
  font-weight: normal;
  padding: 0.35em 0 !important;
}
.ui-datepicker .ui-datepicker-calendar table td {
  text-align: center;
  padding: 5px 1px 0px 1px;
}
.ui-datepicker .ui-datepicker-calendar thead {
  background: #eeeae5;
}
.ui-datepicker .ui-datepicker-calendar thead tr th {
  font-weight: normal;
  padding: 10px 0 8px 0;
}
.ui-datepicker .ui-datepicker-calendar thead tr th.ui-datepicker-week-end {
  color: #fe4800;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-align: center;
  background: none;
  border: 0;
  position: relative;
  z-index: 1;
}

.ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
  color: white;
}
.ui-datepicker .ui-datepicker-calendar td a.ui-state-active:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  -moz-border-radius: 13px; /* Firefox */
  -webkit-border-radius: 13px; /* Safari, Google Chrome */
  -khtml-border-radius: 13px; /* KHTML */
  -o-border-radius: 13px; /* Opera */
  -ms-border-radius: 13px; /* IE8 */
  -icab-border-radius: 13px; /* Icab */
  border-radius: 13px; /* CSS3 */
  background: #fe4800;
  right: 1px;
  top: -4px;
  z-index: -1;
}

.ui-datepicker .ui-datepicker-header  .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header  .ui-datepicker-next {
  top: 5px;

}

.ui-datepicker .ui-datepicker-header  .ui-datepicker-prev span {
  background: url('../images/sprite.png') no-repeat scroll 0 -717px;
}

.ui-datepicker .ui-datepicker-header  .ui-datepicker-next span {
  background: url('../images/sprite.png') no-repeat scroll 0 -767px;
}


.calendar-wrapper a.x {
  display: block;
  position: absolute;
  width: 17px;
  height: 17px;
  top: -15px;
  right: -15px;
  background: url('../images/sprite.png') no-repeat scroll -1px -816px;
  text-indent: -9999px;
}

h3.block-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 14px;
}

.emo-tags-block,
.tags-list-block {
  border-top: 2px solid #d6d6c7;
  padding-top: 25px;
  margin-bottom: 31px;
  margin-right: 15px;
}

.tags-list-block .block-content a {
  font-size: 14px;
  margin: 0 0 9px 0;
  -moz-border-radius: 12px; /* Firefox */
  -webkit-border-radius: 12px; /* Safari, Google Chrome */
  -khtml-border-radius: 12px; /* KHTML */
  -o-border-radius: 12px; /* Opera */
  -ms-border-radius: 12px; /* IE8 */
  -icab-border-radius: 12px; /* Icab */
  border-radius: 12px; /* CSS3 */
}

h2.title {
  font-weight: bold;
  display: block;
  margin: 0 -25px;
  padding: 0 25px 25px;
  border-bottom: 1px solid #efebe6;
  text-transform: uppercase;
  position: relative;
}

.tag-content {
  padding: 5px 0 15px;
}

article.news.teaser {
  padding: 15px 0 15px;
  border-bottom: 1px solid #efebe6;
}

article.news.teaser:last-child {
  padding-bottom: 0;
  border: 0;
}

article.news.teaser.image {

}

article.news.teaser.image .article-image {
  float: left;
}
article.news.teaser.image .article-image a,
article.news.teaser.image .article-image img {
  display: block;
}

article.news.teaser.image .article-meta {
  margin-left: 260px;
}

article.news.teaser.image .title,
article.news.teaser.image p {
  margin-left: 260px;
}

article.news.teaser .article-meta {
  margin-bottom: 5px;
}
article.news.teaser .title {
  font-size: 18px;
  color: #1a93bb;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 11px;
}
article.news.teaser .title a {
  color: #1a93bb;
}

article.news.teaser p {
  margin-bottom: 0;
}

.event-types {

}
.event-types ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.event-types li {
  list-style: none;
  text-transform: uppercase;
  color: #333333;
}
.event-types li a {
  display: block;
  color: #333333;
  line-height: 29px;
  padding: 0 12px;
  margin: 0;
}
.event-types li a.active,
.event-types li a:hover {
  background: #00bffe;
  color: white;
  text-decoration: none;
}

.carousel-calendar {
  position: relative;
  margin: 0 -25px;
  background: #f9f6f3;
  border-bottom: 1px solid #efebe6;
  padding: 0 25px;
}

.carousel-calendar .carousel {
  overflow: hidden;
  position: relative;
  width: 485px;
  z-index: 10;
}

.carousel-calendar .carousel:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 134px;
  background: url('../images/fade-left.png') repeat-y scroll 0 0;
  z-index: 11;
}

.carousel-calendar .carousel:after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 134px;
  background: url('../images/fade-right.png') repeat-y scroll 0 0;
  z-index: 11;
}

.carousel-calendar .carousel-content {
  width: 20000em;
  position: relative;
  padding: 21px 0;
  margin: 0 20px;
  left: 0;
}

.carousel-calendar .date {
  float: left;
  width: 86px;
  height: 90px;
  background: white;
  border: 1px solid #efebe6;
  -moz-border-radius: 9px; /* Firefox */
  -webkit-border-radius: 9px; /* Safari, Google Chrome */
  -khtml-border-radius: 9px; /* KHTML */
  -o-border-radius: 9px; /* Opera */
  -ms-border-radius: 9px; /* IE8 */
  -icab-border-radius: 9px; /* Icab */
  border-radius: 9px; /* CSS3 */
  cursor: pointer;
  position: relative;
}

.carousel-calendar .carousel-content .date.active,
.carousel-calendar .carousel-content .date:hover {
  background: #00bffe;
  color: white !important;
  border-color: #00bffe;
}

.carousel-calendar .prev,
.carousel-calendar .next {
  display: block;
  position: absolute;
  top: 46px;
  width: 33px;
  height: 33px;
  text-indent: -9999px;
  background: url('../images/sprite.png') no-repeat scroll -11px -785px white;
  border: 1px solid #eeeae5;
  z-index: 12;
  -moz-border-radius: 19px; /* Firefox */
  -webkit-border-radius: 19px; /* Safari, Google Chrome */
  -khtml-border-radius: 19px; /* KHTML */
  -o-border-radius: 19px; /* Opera */
  -ms-border-radius: 19px; /* IE8 */
  -icab-border-radius: 19px; /* Icab */
  border-radius: 19px; /* CSS3 */
}

.carousel-calendar .prev.inactive,
.carousel-calendar .next.inactive {
  opacity: .5;
  cursor: default;
}

.carousel-calendar .prev {
  left: 3px;
}

.carousel-calendar .next {
  right: 3px;
  background-position: -51px -785px;
}

.carousel-calendar .date:last-child {
  margin-right: 20px;
}
.carousel-calendar .date .weekday {
  font-size: 12px;
  text-align: center;
  padding: 0 10px;
  text-transform: uppercase;
  margin-top: 11px;
  font-weight: bold;
}
.carousel-calendar .date .weekday.weekend {
  color: #fe5a26;
}
.carousel-calendar .date.active .weekday.weekend,
.carousel-calendar .date:hover .weekday.weekend {
  color: white;
}

.carousel-calendar .date .monthday {
  font-size: 31px;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  margin-top: 2px;
}

.carousel-calendar .date .month {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0 10px;
  text-align: center;
  margin-top: 4px;
}

.carousel-calendar .date .count {
  position: absolute;
  width: 30px;
  height: 30px;
  -moz-border-radius: 16px; /* Firefox */
  -webkit-border-radius: 16px; /* Safari, Google Chrome */
  -khtml-border-radius: 16px; /* KHTML */
  -o-border-radius: 16px; /* Opera */
  -ms-border-radius: 16px; /* IE8 */
  -icab-border-radius: 16px; /* Icab */
  border-radius: 16px; /* CSS3 */
  background: #fe5a26;
  line-height: 30px;
  color: white;
  font-size: 12px;
  text-align: center;
  top: -15px;
  right: 8px;
  z-index: 12;
}

.date-section {
  margin: 0 -25px;
  border-top: 1px solid #efebe6;
}

.date-sections > .date-section:first-child {
  border: none;
}

.date-section h3.date {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 23px 25px;
}

.date-section h3.date span {
  font-size: 31px;
}

.date-section article {
  margin: 0 12px 18px 25px;
}
.date-section article:first-child,
.date-section article:last-child {
  margin: 0 12px 0 25px;
}

.date-section article .content {
  padding-left: 0;
  padding-right: 0;
}